In [237]:
from onion_one import onion_articles 
from satirewire_data import satire_wire_articles
from squib_data import squib_1_articles
from squib_2_data import squib_2_articles 
import re
import pdb
import pandas as pd 

import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
import pandas as pd
import numpy as np
np.random.seed(0)
from sklearn.model_selection import train_test_split

In [9]:
print(len(onion_articles))
print(len(satire_wire_articles))
print(len(squib_1_articles))
print(len(squib_2_articles))

47
324
180
699

In [2]:
onion_arts = [l.pop(0) for l in onion_articles]

In [9]:
len(onion_articles)

47

In [10]:
cleaned_onions = [x for x in onion_articles if x]

In [12]:
onion_df = pd.DataFrame(cleaned_onions)

In [86]:
# test_case = onion_df.iloc[4][1]
onion_df.columns = ['headline', 'body']
onion_df.head()

,headline,body
0,Nation Not Sure How Many Ex-Trump Staffers It ...,Noting that the resignation of James Mattis as...
1,Exhausted Robert Mueller Turns Off Phone To Gi...,Desperate to unwind after months of nonstop wo...
2,The Trump Presidency In 2018,"Nearly halfway through his presidential term, ..."
3,Ryan Zinke Apologizes For Misuse Of Government...,Attempting to make amends for gross abuses of ...
4,Trump Administration Launches Human Rights Inv...,Decrying the Senate’s resolution blaming the c...

In [79]:
def remove_footer(dirty_string): 
    sep = "SatireWire.com Related Tags:"
    if sep in dirty_string:
        clean = dirty_string.split(sep, 1)[0]
    else:
        clean = dirty_string
    return clean 

# onion_df[1] = onion_df[1].map(remove_dates)
# onion_df.head()

In [58]:
squib_df = pd.DataFrame(squib_articles)
# squib_df.head() 
# squib_df.iloc[3][1]

In [99]:
# satire_pd = pd.DataFrame(satire_wire_articles)
# satire_pd.drop([0], axis=1, inplace=True)
# # satire_pd.head() 
# satire_pd.iloc[4][2]
# satire_pd[2] = satire_pd[2].map(remove_footer)
# # satire_pd.head()
# satire_pd.iloc[10][2]
satire_pd.columns = ['headline', 'body']
satire_pd.head()

,headline,body
0,ALTERNATIVE PUERTO RICO THRIVING AFTER HURRICA...,White House officials today said President Tr...
1,"MORNING SHOW ‘FUCK NO, TALLAHASSEE’ TOPS TV RA...",Just one month after changing its name from ‘...
2,"TRUMP TO KEEP FAMILIES TOGETHER, STACKED INTO ...",Official White House Transcript Topic: Immigra...
3,TRUMP CANCELS 2018 MIDTERMS TO THWART RUSSIAN ...,In an effort to keep Russia from interfering ...
4,TRUMP WILL DEPLOY RUSSIAN TROOPS TO PURGE U.S....,President Donald Trump today accepted an offe...

In [113]:
# squib_df.head()
# onion_df.head()
# satire_pd
# all_satire_df = onion_df.append([squib_df, satire_pd])
# all_satire_df = all_satire_df.drop_duplicates()
all_satire_df['target'] = 1
all_satire_df.head() 
all_satire_b = all_satire_df.drop(['headline'], axis=1)
all_satire_b.shape

(1230, 2)

In [109]:
squib_df.head()

,headline,body
0,Obama Oprah O’Rourke Ocasio – Why Socialist Am...,O socialism America Oprah Obama O'Rourke Ocasi...
1,Golden Globes Red Carpet Extravaganza Wows Crowds,“Did you see those golden globes?” an excited ...
2,Modigliani Nude Paintings Now Considered as Se...,Amedeo Modigliani (1884–1920) The ever present...
3,Doesn’t Matter What Year We’re In Still Have t...,If you think another year after the previous y...
4,Why No One Will Ever Vote For the Conservative...,Theresa May. It’s as simple as that. She and h...

In [44]:
squib_articles = squib_1_articles + squib_2_articles

In [45]:
len(squib_articles)

879

In [14]:
629+47+324

1000

In [15]:
import pandas as pd
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.manifold import TSNE
from nltk.tokenize import word_tokenize
np.random.seed(0)

In [16]:
all_satire_articles = squib_articles + onion_articles + satire_wire_articles

In [18]:
onion_articles[0][1:]

['Obama Oprah O’Rourke Ocasio – Why Socialist Americans Love ‘O’ So Much',
 "O socialism America Oprah Obama O'Rourke Ocasio Michelle Obama, Barack Obama, Oprah Winfrey, Beto O‘Rourke, Ocasio-Cortez, these are all darlings of the socialist democrat party in America who all have something in common, the letter ‘o’. What is it about the letter ‘o’ that is so endearing to the socialists and their dream of turning America into a pseudo-communist socialist state resembling Venezuela? We asked Democrat party official Oona Menendez, the same question. “Why is the letter ‘o’ so important for Democrat politicians, especially regarding elections?” She replied quite succinctly: “Candidates have a greater success with the letter ‘o’ in their name because it breeds familiarity. Like with an ‘o’ people immediately know they’re safe, they are guaranteed socialism or communism. We adopted the significance of ‘o’ after eight years of Barack Obama rule. He was the first big ‘o’ which denoted ‘change’ and he brought in much socialist and Marxist changes to America, which is sadly being eroded by the current president. ‘O’ also stands for the circle, inclusivity, globalism, and collectivism. The main reason though, as I mentioned before, is familiarity, because when a voter is about to tick the box on election day, all they have to look for is where the Os are. If you see an ‘o’ on the first or last name, that’s who you vote for — Democrat. It’s really as simple as that.” We asked her where ‘Hillary’ fits into this? “She doesn’t. Never has, never will.” "]

In [117]:
reuters_df = pd.read_csv('reuters_clean.csv')
reuters_df.drop(['Unnamed: 0'], axis=1, inplace=True)
reuters_df.head()

                                                body  target
0   Swimming enthusiast Yu Hongtao, 50, trained f...       0
1   North Korean leader Kim Jong Un and Chinese P...       0
2   Indonesia will launch a renewed search effort...       0
3   Myanmar government leader Aung San Suu Kyi di...       0
4   France plans to introduce legislation to toug...       0

In [118]:
mega_data = all_satire_b.append(reuters_df)

In [163]:
mega_data.shape

(2128, 2)

In [143]:
text_test = mega_data.iloc[0][0]
' '.join(text_test.split()[:100])

'Noting that the resignation of James Mattis as Secretary of Defense marked the ouster of the third top administration official in less than three weeks, a worried populace told reporters Friday that it was unsure how many former Trump staffers it could safely reabsorb. “Jesus, we can’t just take back these assholes all at once—we need time to process one before we get the next,” said 53-year-old Gregory Birch of Naperville, IL echoing the concerns of 323 million Americans in also noting that the country was only now truly beginning to reintegrate former national security advisor Michael Flynn. “This is'

In [144]:
def limit_body(string):
    return ' '.join(text_test.split()[:100])

In [308]:
data_reindexed.shape

(2128, 2)

In [309]:
data_reindexed.to_csv("clean_set.csv")

In [187]:
data = data_reindexed['body']
target = data_reindexed['target']

In [184]:
data2 = mega_data.reset_index()
data_reindexed = data2.drop(columns ='index')

In [219]:
sw_list = stopwords.words('english')
sw_list += list(string.punctuation)
sw_list += ["''", '""', '...', '``', '’', '“', '’', '”', '‘', '‘', 'said', 'one']
sw_set = set(sw_list)

In [220]:
def process_article(article):
    tokens = nltk.word_tokenize(article)
    stopwords_removed = [token.lower() for token in tokens if token.lower() not in sw_set]
    return stopwords_removed

In [221]:
processed_data = list(map(process_article, data))
# tokens = nltk.word_tokenize(data[0])
# removed = []
# for token in tokens: 
#     if token.lower() not in sw_set: 
#         removed.append(token.lower())
# removed

In [274]:
total_vocab = set()
for comment in processed_data:
    total_vocab.update(comment)
len(total_vocab)

42429

In [284]:
y[:4]

0    1
1    1
2    1
3    1
Name: target, dtype: int64

In [265]:
# articles_concat = []
# for article in processed_data:
#     articles_concat += article
def join_list(list): 
    ' '.join(list)
        
X = [' '.join(d) for d in processed_data]
y = target
# X[3]

In [238]:
# articles_freqdist = FreqDist(articles_concat)
# articles_freqdist.most_common(100)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [290]:
vectorizer = TfidfVectorizer()
tf_idf_data_train = vectorizer.fit_transform(X_train)
tf_idf_data_test = vectorizer.transform(X_test)
# article_vector = vectorizer.transform([article])
tf_idf_data_train

<1702x32647 sparse matrix of type '<class 'numpy.float64'>'
	with 283257 stored elements in Compressed Sparse Row format>

In [298]:
tf_idf_data_test[3]

<1x32647 sparse matrix of type '<class 'numpy.float64'>'
	with 179 stored elements in Compressed Sparse Row format>

In [242]:
non_zero_cols = tf_idf_data_train.nnz / float(tf_idf_data_train.shape[0])
print("Average Number of Non-Zero Elements in Vectorized Articles: {}".format(non_zero_cols))

percent_sparse = 1 - (non_zero_cols / float(tf_idf_data_train.shape[1]))
print('Percentage of columns containing 0: {}'.format(percent_sparse))

Average Number of Non-Zero Elements in Vectorized Articles: 166.42596944770858
Percentage of columns containing 0: 0.9949022584173827

In [243]:
nb_classifier = MultinomialNB()
rf_classifier = RandomForestClassifier(n_estimators=100)

In [260]:
nb_classifier.fit(tf_idf_data_train, y_train)
nb_train_preds = nb_classifier.predict(tf_idf_data_train)
nb_test_preds = nb_classifier.predict(tf_idf_data_test)
chad_predict = nb_classifier.predict(article_vector)

In [262]:
chad_predict[0]

1

In [246]:
rf_classifier.fit(tf_idf_data_train, y_train)
rf_train_preds = rf_classifier.predict(tf_idf_data_train)
rf_test_preds = rf_classifier.predict(tf_idf_data_test)

In [247]:
nb_train_score = accuracy_score(y_train, nb_train_preds)
nb_test_score = accuracy_score(y_test, nb_test_preds)
rf_train_score = accuracy_score(y_train, rf_train_preds)
rf_test_score = accuracy_score(y_test, rf_test_preds)

In [271]:
# so we have some really great results here. 
# maybe we are overfitting? Or maybe its really easy to determine satire? 

print("Multinomial Naive Bayes")
print("Training Accuracy: {:.4} \t\t Testing Accuracy: {:.4}".format(nb_train_score, nb_test_score))
print("")
print('-'*70)
print("")
print('Random Forest')
print("Training Accuracy: {:.4} \t\t Testing Accuracy: {:.4}".format(rf_train_score, rf_test_score))

Multinomial Naive Bayes
Training Accuracy: 0.9906 		 Testing Accuracy: 0.9695

----------------------------------------------------------------------

Random Forest
Training Accuracy: 1.0 		 Testing Accuracy: 0.9812

In [269]:
#process sample helper function here 

def sample_prep(body): 
    article = ' '.join(process_article(body))
    return vectorizer.transform([article])

In [301]:
# assign a string to the body variable and see if its 
# satire or not 
# I have tried it with NY times and some other satire and its worked. 

body = "Leaders like Jonny Boucher, a Chicago native who, after losing too many friends and family to suicide, started a coffee shop to offer emotional support and guidance to those who might be in need of a little more than a strong cup of coffee to get through their day."


article_vector = sample_prep(body)
nb_classifier.predict(article_vector)

array([1])

In [ ]:
rf_param_grid = {
    'n_estimators': [10, 30, 100],
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 2, 6, 10],
    'min_samples_split': [10, 20],
    'min_samples_leaf': [1, 2, 5]
}
import time
start = time.time()
rf_grid_search = GridSearchCV(rf_clf, rf_param_grid, cv=3)
rf_grid_search.fit(scaled_df, labels)

print("Testing Accuracy: {:.4}%".format(rf_grid_search.best_score_ * 100))
print("Total Runtime for Grid Search on Random Forest Classifier: {:.4} seconds".format(time.time() - start))
print("")
print("Optimal Parameters: {}".format(rf_grid_search.best_params_))

In [ ]:
rf_clf = RandomForestClassifier()
mean_rf_cv_score = np.mean(cross_val_score(rf_clf, scaled_df, labels, cv=3))

print("Mean Cross Validation Score for Random Forest Classifier: {:.4}%".format(mean_rf_cv_score * 100))